# Ignore node modules everywhere
**/node_modules
node_modules

# Ignore git
.git
.gitignore

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker files
Dockerfile
docker-compose.yml

# Temp files
temp
**/temp
